<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %highlight{[%t] %-5level %logger{36}.%M() @%L - %msg%n}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=white, DEBUG=blue, TRACE=cyan}"/>
        </Console>
        <Console name="ConsoleErr" target="SYSTEM_ERR">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}.%M() @%L - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ConsoleErr"/>
        </Root>
    </Loggers>
</Configuration>
